@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #1f2029;
    color: rgba(255,255,255,0.64);
    font-family: 'Poppins', sans-serif;

}

.card {
    margin: 60px auto;
    width: 440px;
    background-color: #2a2b38;
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    gap: 48px;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;

}
.title{
    margin: 30px auto 0;
    text-align: center;

}
.title h1{
    font-size: 90px;
}
.search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}
.search-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

input{
    padding: 13px 20px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
button{
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 15px 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: #ffeba7;
    color: #1f2029;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
button:active,
button:hover,
button:focus{
    background-color: #1f2029;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

